* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}

.navigation {
    width: 100%;
    height: 70vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/uploads/1411160110892ab555b6f/80b0d25e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-size: cover;
    background-position: center;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
}

.nav li {

    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    transition: all;
    transition-duration: 0.25s;

}

.nav li:hover {

    transform: scale(1.18);
    background-color: rgb(255, 127, 127);


}

.logo {
    margin-left: 20px;
    transition: all;
    transition-duration: 0.25s;
}

.logo:hover {

    color: rgb(255, 127, 127);
}

.btn {
    margin-right: 30px;
    width: 6%;
    height: 30px;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.20s;
    background-color: rgb(255, 127, 127);
    color: aliceblue;
}

.btn:hover {

    transform: scale(1.08);
}

.nav {
    margin-left: 15px;
}

.quote {
    position: relative;
    top: 200px;
    left: 200px;
    font-size: 35px;
    width: 40%;

}
.headset{
     position: relative;
     top: 70px;
    left: 1000px;
     

}


.new {

   background-color: black;
    height: 600px;
}

.bottom {
    background-color: rgb(32, 31, 31);
    position: sticky;
    bottom: 0;
    height: 75px;
    display: flex;
    align-items: center;
   
    flex-direction: column;
}

.bar{
    width: 100%;
   
}

.bar:hover {
        cursor: grab;
    }

    .icons {
        color: white;
        height: 20px;
        margin: 5px;
        display: flex;
       
    }

    .logo-icon {
        height: 30px;
        margin: 5px;
    }

    .culture{
        text-align: center;
        padding: 50px;
        color: white;
    }

    .covers{
        display: flex;
        justify-content: space-between;
        align-items: center;

    
    }
    .one{
        color: white;
    }
    .one h3{
        text-align: center;
        padding: 10px;
        margin-left: 40px;
    }
    
    
    .two{
       color: white;
    }
    .two h3{
        text-align: center;
        padding: 10px;
    }
    .three{
       color: white;
    }
    .three h3{
        text-align: center;
        padding: 10px;

    }
    .four{
        color: white;
        
    }
    .four h3{
        text-align: center;
        padding: 10px;
        margin-right: 60px;

    }
    .one img{
        height: 200px;
        margin-left: 50px;
        margin-top: 71px;
        
    }
    .two img{
        height: 200px;
        margin-left: 0px;
        margin-top: 71px;
        
    }
    .three img{
        height: 200px;
        margin-right: 20px;
        margin-top: 71px;
        
    }
    .four img{
        height: 200px;
        margin-right: 70px;
        margin-top: 71px;
        
    }